@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-font/Inter-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-font/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-font/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-font/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-font/Inter-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-font/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-font/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}
