/*? top-nav started */
.top-nav {
  /* background-color: dodgerblue; */
  background-color: #fff;
  height: 75vh;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transform: translateY(-120%);
  transition: transform 0.4s linear;
}
.top-nav__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.top-nav__title {
  font-size: 28px;
  line-height: 1.29;
  font-weight: 600;
  /* margin-bottom: 40px; */
}
.top-nav__close-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.top-nav__close-button div {
  width: 50px;
  height: 3px;
  background: #000;
}
.close-line-1 {
  transform: translateY(20px) rotate(45deg);
}
.close-line-2 {
  transform: translateY(17px) rotate(-45deg);
}
.top-nav__cards {
  display: flex;
  justify-content: space-between;
}
.top-nav__card:first-child {
  width: 70%;
  display: flex;
}
.top-nav__item {
  margin: 0 40px 25px 0;
}
.top-nav__link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #222222;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.15s ease-in;
}
.top-nav__link:hover {
  text-decoration: underline;
  color: dodgerblue;
}
.top-nav__card:last-child {
  width: 30%;
  border-left: 1px solid #909090;
  padding-left: 30px;
  max-height: 400px;
  height: 100%;
}
.top-nav__user-item {
  margin-bottom: 20px;
}
.top-nav__user-link {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  color: #222222;
  transition: all 0.15s ease-in;
}
.top-nav__user-link:hover {
  text-decoration: underline;
  color: dodgerblue;
}
/*? top-nav finished */

/*? header started  */
.nav {
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__item {
  margin: 0;
  padding: 0;
}
.nav__item:nth-child(2) {
  margin: 0 66px 0 48px;
}
.nav__link {
  font-size: 15px;
  color: #222222;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.nav__enter-button {
  height: 41px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 0px 0px 2px #222222;
  padding: 11px 27px 13px;
  line-height: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
}
.burger {
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: transform 0.4s linear;
}
.burger-block {
  position: absolute;
  top: 113px;
  right: 0;
  /* max-width: 250px; */
  max-width: max-content;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
  transform: translateY(-150%);
  opacity: 0;
  transition: all 0.4s linear;
  /* display: none; */
}

.burger-block__item {
  padding: 15px 0;
}
.burger-block__item:first-child {
  border-bottom: 2px solid #ccc;
}
.burger-block__link {
  color: #222222;
}
.burger-block__link:hover {
  color: dodgerblue;
}
.burger-active {
  /* display: block; */
  opacity: 1;
  transform: translateY(0);
}
.burger-toggle .burger-line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-toggle .burger-line-2 {
  opacity: 0;
}
.burger-toggle .burger-line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/*? header finished  */

/*? main started */
/** hero-section started */
.hero-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.hero__title {
  font-family: "Arial";
  font-weight: 700;
  font-size: 77px;
  line-height: 96px;
  padding: 64px 0 104px;
  background-image: url("../title-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #222222;
}
.hero__carousel {
  width: 70%;
}
.carousel-item {
  /* width: 100%; */
  /* height: auto; */
  height: 450px;
  /* max-height: 400px; */
}
.hero__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero__links-list {
  width: calc(100% / 3 - 5px);
  margin-bottom: 29px;
  /* background-color: orange; */
}
.hero__links-item {
  margin-bottom: 19px;
}
.hero__links-item:last-child {
  margin: 0;
}
.hero__links-link {
  font-family: "Arial";
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #222222;
  text-decoration-line: underline;
  text-decoration-color: #858585;
}
.hero__icons {
  overflow-x: auto;
  margin-bottom: 60px;
}
.hero__icons-list {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}
.hero__icons-item {
  padding: 12px 16px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  border-radius: 27px;
}
.hero__icons-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #222222;
}
/** hero-section finished */

/** product-section started */
.product__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 10px; */
}
.product__card {
  /* width: calc(100% /3 - 10px); */
  width: 24%;
  background: #4fd8c3;
  padding: 20px;
  box-shadow: 0px 25px 50px -21px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__card-first {
  background: #ff887b;
  width: 49%;
}
.product__card-text {
  font-family: "Arial";
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  opacity: 0.55;
  margin-bottom: 13px;
}
.product__card-title {
  font-family: "Arial";
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
}
.product__card-first .product__card-title {
  font-size: 24px;
  line-height: 38px;
}
/** product-section finished */
/*? main finished */

/*? footer started */
.footer {
  padding: 88px 0 60px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer__nav-link-bold {
  display: inline-block;
  font-family: "Arial";
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: #222222;
  margin-bottom: 16px;
}
.footer__nav-link {
  display: inline-block;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #858585;
  margin-bottom: 8px;
}
.footer__services {
  display: flex;
  justify-content: space-between;
}
.footer__services-text p:first-child {
  margin-bottom: 4px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.48);
}
.footer__services-text p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.48);
}
.footer__services-input {
  /* max-width: 246px; */
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding: 7.5px 4px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
}
.footer__services-socials-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.footer__services-socials-text {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
}
/*? footer finished */

/*? support-center started  */
.support-center {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #222222;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16), 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  /* border: 0; */
  /* outline: none; */
}
/*? support-center finished  */

/*? media query started */
@media screen and (max-width: 1200px) {
  .footer__nav {
    flex-wrap: wrap;
  }
  .footer__nav-list {
    width: calc(100% / 3 - 5px);
    margin-bottom: 20px;
  }
  .footer__services {
    flex-wrap: wrap;
  }
  .footer__services > div {
    width: calc(100% / 2 - 20px);
  }
  .footer__services-text {
    margin-top: 40px;
    order: 1;
  }
  .footer__services-input {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 60px;
    line-height: 80px;
  }
  .hero__links-link {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero__icons-item {
    padding: 8px 12px;
    border-radius: 24px;
  }
}
@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .nav__list {
    display: none;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 851px) {
  .hero__icons::-webkit-scrollbar {
    height: 6px;
  }
  .hero__icons::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #fff;
  }
  .hero__icons::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }
}
@media screen and (max-width: 800px) {
  .hero__links {
    flex-wrap: wrap;
  }
  .hero__links-list {
    width: calc(100% / 2 - 7.5px);
    margin-bottom: 15px;
  }
  .product__cards {
    justify-content: space-between;
  }
  .product__card {
    width: 48%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
  .product__card-first {
    width: 100%;
  }
  .footer__nav-list {
    margin-bottom: 10px;
  }
  .footer {
    padding: 15px 0 20px;
  }
  .footer__services-socials {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
@media screen and (max-width: 767px) {
  /* slider none */
}
@media screen and (max-width: 600px) {
  .hero__links-list {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer__nav-list {
    width: calc(100% / 2 - 5px);
  }

  .footer__services-text p {
    width: 200%;
  }
}
@media screen and (max-width: 500px) {
  .nav__enter-button {
    height: 32px;
    padding: 11px 13px 13px;
  }
  .hero__title {
    font-size: 50px;
    line-height: 70px;
  }
  .product__card {
    width: 100%;
  }
  .footer__services {
    flex-direction: column;
    gap: 20px;
  }
  .footer__services-text {
    margin: 0;
  }
  .footer__services-socials {
    align-items: start;
  }
}
@media screen and (max-width: 400px) {
  .burger {
    margin-left: 10px;
  }
  .footer__nav-list {
    width: 100%;
  }
}
@media screen and (max-width: 340px) {
  .hero__title {
    font-size: 40px;
    line-height: 1.5;
  }
  .nav__enter-button {
    font-size: 14px;
    height: 30px;
    padding: 5px;
  }
}
/*? media query finished */
